.title-img {
  margin-bottom: 1rem;
  max-width: 60%;
  height: 85px;
}

.sign-form-container {
  width: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
}

.doodle-sign-up-1 {
  top: -75% !important;
  left: 35% !important;
  transform: rotate(-85deg);
}

.doodle-sign-up-2 {
  top: -75% !important;
  left: 21% !important;
}

.sign-up-borders {
  border-radius: 2.5rem;
}
