.img-container {
  width: 340px;
  margin: 0 auto;
}

.doodle-2 {
  position: absolute;
  top: 15%;
  left: 0;
}

.doodle-5 {
  position: absolute;
  top: 68%;
  left: 25%;
  transform: rotate(-7deg);
}

.btn-container {
  position: absolute;
  width: 340px;
  top: 50%;
}
