.img-container {
  width: 340px;
  margin: 0 auto;
}

.doodle-2 {
  position: absolute;
  top: 15%;
}

.doodle-5 {
  position: absolute;
  top: 51%;
  left: 25%;
  transform: rotate(-7deg);
}

.btn-container {
  width: 340px;
}
