body {
  background-color: #bfd732;
  min-height: 100vh;
  font-family: 'Heebo';
  position: relative;
  padding: 1.5rem;
}

/* Contenedor de imágenes */
.image-container {
  position: relative;
  /* margin-bottom: 20px; */
}

.image-container::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Saly */
.image-container:nth-child(1)::before {
  background-image: url('assets/saly-1.png');
  height: 500px;
  width: 100%;
  top: -105px;
}

/* Doodle */
.image-container:nth-child(2)::before {
  background-image: url('assets/doodle-1.png');
  height: 165px;
  width: 165px;
}

/* Doodle-2 */
.image-container:nth-child(3)::before {
  background-image: url('assets/doodle-2.png');
  width: 50%;
  height: 100px;
  top: 185px;
  left: 30%;
}
